<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <img src="http://placehold.it/120x90/3333CC/FFF" class="img-circle img-thumbnail pull-right">
        <h3 class="media-heading">John Doe</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales.
          Nullam mattis fermentum libero, non volutpat.</p>
      </div>
      <div class="panel-body">
        <div class="media">
          <div class="media-body">
            <p>
              <span class="label label-default">List name 1</span>
              <span class="label label-primary">List name 1</span>
              <span class="label label-primary">List name 1</span>
              <span class="label label-default">List name 1</span>
              <span class="label label-primary">List name 1</span>
              <span class="label label-default">List name 1</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
